<main>
    <div class="flex">
        <app-default-layout title="Lista de Funcionários"></app-default-layout>
        <app-add-button></app-add-button>
    </div>
    <div class="funcionario-list">
        <p-table [value]="funcionarios" [paginator]="true" [rows]="pageSize" [first]="(page - 1) * pageSize" (onPage)="paginacao($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                    <th pSortableColumn="telefone">Telefone <p-sortIcon field="telefone"></p-sortIcon></th>
                    <th pSortableColumn="data_nascimento">Data Nascimento <p-sortIcon field="data_nascimento"></p-sortIcon></th>
                    <th pSortableColumn="salario">Salário <p-sortIcon field="salario"></p-sortIcon></th>
                    <th>Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-funcionario>
                <tr>
                    <td>{{funcionario.id}}</td>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.telefone}}</td>
                    <td>{{funcionario.data_nascimento}}</td>
                    <td>{{funcionario.salario}}</td>
                    <td>
                        <app-action-buttons [funcionarioId]="funcionario.id" (editar)="editarFuncionario($event)" (deletar)="deletarFuncionario($event)">
                        </app-action-buttons>



                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</main>