<main>

    <app-default-layout title="Adicionar Funcionário">

        <p-card header="Novo" class="card">

            <form [formGroup]="addEmployee" class="form">
                <!--Nome-->
                <label for="text">Nome</label>
                @if (addEmployee.get('nome')!.hasError('required' ) && addEmployee.get('nome')!.touched) {
                <p>O nome é obrigatorio</p>
                }
                @if (addEmployee.get('nome')!.hasError('minlength' ) && addEmployee.get('nome')!.touched) {
                <p>O nome precisa conter pelo menos 3 caracteres</p>

                }
                <input id="text" type="text" pInputText formControlName="nome" required />

                <!--Telefone-->
                <label for="number">Telefone</label>
                @if(addEmployee.get('telefone')!.hasError('required')){
                <p>O telefone é obrigatorio</p>
                }
                <p-inputMask id="number" mask="(99)9 9999-9999" formControlName="telefone" placeholder="(99)9 9999-9999" />

                <!--Data de Nascimento-->
                <label for="date">Data de Nascimento</label>

                <p-calendar id="date" formControlName="data_nascimento" type="date" dateFormat="dd.mm.yy" />

                <!--Salário-->
                <label for="number">Salário</label>
                @if (addEmployee.get('salario')!.hasError('required' ) && addEmployee.get('salario')!.touched) {
                <p>O salario é obrigatorio</p>
                }
                @if (addEmployee.get('salario')!.hasError('min' ) && addEmployee.get('salario')!.touched) {
                <p>O salario não pode ser negativo</p>

                }
                <p-inputNumber id="number" inputId="integeronly" formControlName="salario" />
            </form>
            <div class="botao">
                <button pButton pRipple label="Cadastrar" class="p-button-success" [disabled]="addEmployee.invalid" (click)="onSubmit()">
                </button>
                <button pButton class="p-button-secondary" label="Cancelar" (click)="cancelar()"></button>
            </div>
        </p-card>
    </app-default-layout>
</main>